<p id="notice"><%= notice %></p>

<p>
  <strong>Started:</strong>
  <%= @job.started %>
</p>

<p>
  <strong>Ended:</strong>
  <%= @job.ended %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Place:</strong>
  <%= @job.place %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
